body{
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Oswald";

    --graytext: #444444;
    --grayspecial: #444444;
}

.header_container img{
    cursor: pointer;
}

* ul,p,img{
    margin: 0;
    padding: 0;
}

header{
    padding: 53px 7.6% 0 7.6%;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav{
    width: 478px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav ul li{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 8px;
    color: white;
}

.nav ul li:nth-child(1){
    /* border-bottom: 2px solid black; */
    border-bottom: 2px solid white;
}

/* задний фон зелёной кошки */
.backcat{
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
}

/* второй подблок хэдера */
.second_head_container{
    margin: 32px auto 51px 13%;
    display: flex;
}

.sec_head_text{
    margin-top: 82px;
}

.main_head_text{
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
}

.secondary_head_text{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.head_button{
    background-color: #68B738;
    border: none;
    padding: 14px 26px;
    color: white;
    text-transform: uppercase;
    font-family: "Oswald";
    cursor: pointer;
}

/* режим питания */

.cat_diets{
    margin: 136px 7.6% 0 7.6%;
    display: flex;
    justify-content: space-between;
}

.diet_container{
    padding: 47px 51px 56px 52px;
}

.cat_diet_haeding{
    display: flex;
    align-items: center;
}

.diet_name{
    font-size: 36px;
    margin-left: 62px;
    text-transform: uppercase;
}

.diet{
    background-color: #F2F2F2;
    width: 570px;
}

.diet_text{
    margin: 39px 0 27px 0;
    font-family: "Arial";
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.katalog{
    display: flex;
    cursor: pointer;
}

.katalog_name{
    text-transform: uppercase;
    margin-right: 28px;
    font-size: 20px;
}

/* HOW IT WORKS */

.hiwblock{
    width: 230px;
    position: relative;
}

.hiwlogo{
    margin: 40px 0 31px 0;
}

.hiwtext{
    width: 201px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 24px;  
    color: var(--graytext);
}

.hiwnum{
    position: absolute;
    top: 0;
    right: 0;
    color: #F2F2F2;
    z-index: -100;
    font-size: 280px;
    line-height: 280px;
}

.howitworks_container{

    margin: 71px 7.6% 70px 7.6%;
}

.hiwblocks{
    display: flex;
    justify-content: space-between;
}

.hiw_heading{
    font-size: 60px;
    margin-bottom: 32px;
}

/* Живой пример */
.catexample_heading{
    margin-left: 7.6%;
    padding: 69px 0 76px 0;
    font-size: 60px;
}

/* ниже заголовка */
.catexample_info{
    background-color: #F2F2F2;
    padding: 70px 0 75px 7.6%;
    position: relative;
}

.cat_info{
    width: 436px;
    line-height: 24px;
    font-family: "Arial";
    color: var(--graytext);
    margin-bottom: 70px;
}

/* блоки в рамке для веса */
.weight{
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    padding: 15px 57px 20px 57px;
    border: solid #CDCDCD 1px;
    border-radius: 3px;
}

.cat_weight{
    display: inline-block;
}

/* блоки в рамке для дней*/
.cat_days{
    display: inline-block;
    margin-left: 42px;
}

.weight_meaning{
    font-family: "Arial";
    font-size: 14px;
    margin: auto;
    background-color: #F2F2F2;
    width: 114px;
    color: var(--grayspecial);
    text-align: center;
    position: relative;
    top: -10px;
}

.days{
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    padding: 15px 30px 20px 30px;
    border: solid #CDCDCD 1px;
    border-radius: 3px;
}

.days_meaning{
    font-family: "Arial";
    font-size: 14px;
    margin: auto;
    background-color: #F2F2F2;
    width: 142px;
    color: var(--grayspecial);
    text-align: center;
    position: relative;
    top: -10px;
}

/* затраты на кота */
.second_info_explain{
    margin-top: 35px;
    display: flex;
}

.money:first-child{
    margin-right: 52px;
}

.money{
    text-transform: uppercase;
    font-size: 20px;
}

/* двойное фото кота */
.catimg{
    display: flex;
    align-self: center;
    /* margin-right: 100px; */
}

/* слайдер который нихера не слайдер */
/* с мерджин колхоз */
.range{
    margin-left: 90px;
    display: flex;
    
}

.slider_exp{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
}

.slider_exp:first-child{
    margin-right: 24px;
}

.slider_exp:last-child{
    margin-left: 24px;
}

.cat_before_after{
   position: absolute;
   right: 7.6%;
   bottom: 70px;
}

/* блок карты */

.map{
    position: relative;
    z-index: -100;
}

.mappin{
    position: absolute;
    top: 131px;
    right: 419px;
}

.street, .city{
    font-family: "Arial";
    font-size: 16px;
    width: 155px;
}

.street + .city{
    margin-top: 19px;
}

.map_info_heading{
    width: 163px;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    margin-right: 87px;
}

.map_info{
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 66px 89px 50px 76px;
    top: 95px;
    left: 110px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    margin: 57 7.6% 57 7.6%;
}

.social_links img + img{
    margin-left: 30px;
}

.social_links img{
    cursor: pointer;
}

.academy{
    display: flex;
    cursor: pointer;
}

.academy div + img{
    margin-left: 22px;
}